<form
  tuiAppearance="floating"
  tuiCardLarge
  tuiForm="l"
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
  [style.max-width.rem]="32"
>
  <header tuiHeader="h3">
    <h1 tuiTitle>Login</h1>
  </header>

  <div class="stack">
    <tui-textfield>
      <label tuiLabel>Email</label>
      <input
        placeholder="La tua email"
        tuiTextfield
        formControlName="email"
        type="text"
      />
      <tui-icon icon="@tui.mail" />
    </tui-textfield>
  </div>

  <div class="stack">
    <tui-textfield>
      <label tuiLabel>Password</label>
      <input
        placeholder="Scegli una password"
        tuiTextfield
        type="password"
        formControlName="password"
      />
      <tui-icon tuiPassword />
    </tui-textfield>

    <tui-error
      formControlName="password"
      [error]="[] | tuiFieldError | async"
    />
  </div>

  <footer>
    <button
      appearance="primary"
      tuiButton
      type="submit"
      [disabled]="!form.valid"
    >
      Login
    </button>
    <div tuiTitle>
      <button
        iconEnd="@tui.arrow-left"
        tuiLink
        type="button"
        [routerLink]="['/register']"
        [style.text-decoration-line]="'underline'"
        [textContent]="'Nuovo? Registrati qui.'"
      ></button>
    </div>
  </footer>
</form>
