<form
  tuiAppearance="floating"
  tuiCardLarge
  tuiForm="l"
  [formGroup]="testForm"
  [style.max-width.rem]="35"
>
  <header tuiHeader="h3">
    <h1 tuiTitle>
      Registrati
      <span tuiSubtitle>Inserisci i tuoi dati per creare un account</span>
    </h1>
  </header>

  <fieldset>
    <tui-textfield>
      <label tuiLabel>Nome</label>
      <input
        placeholder="Il tuo nome"
        tuiTextfield
        formControlName="nameValue"
      />
    </tui-textfield>
    <tui-textfield>
      <label tuiLabel>Cognome</label>
      <input
        placeholder="Il tuo cognome"
        tuiTextfield
        formControlName="nameValue"
      />
    </tui-textfield>
  </fieldset>

  <tui-textfield>
    <label tuiLabel>Email</label>
    <input
      placeholder="La tua email"
      tuiTextfield
      formControlName="nameValue"
    />
    <tui-icon icon="@tui.mail" />
  </tui-textfield>

  <tui-textfield>
    <label tuiLabel>Password</label>
    <input
      placeholder="Scegli una password"
      tuiTextfield
      type="password"
      formControlName="passwordValue"
    />
    <tui-icon tuiPassword />
  </tui-textfield>

  <tui-textfield>
    <label tuiLabel>Conferma password</label>
    <input
      placeholder="Conferma la password"
      tuiTextfield
      type="password"
      formControlName="passwordValue"
    />
    <tui-icon tuiPassword />
  </tui-textfield>

  <footer>
    <button appearance="primary" tuiButton type="button">Registrati</button>
    <div tuiTitle>
      <button
        iconEnd="@tui.arrow-left"
        tuiLink
        type="button"
        [routerLink]="['/login']"
        [style.text-decoration-line]="'underline'"
        [textContent]="'Possiedi già un account? Vai al login.'"
      ></button>
    </div>
  </footer>
</form>
