<form
  tuiAppearance="floating"
  tuiCardLarge
  tuiForm="l"
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
  [style.max-width.rem]="35"
>
  <header tuiHeader="h3">
    <h1 tuiTitle>
      Registrati
      <span tuiSubtitle>Inserisci i tuoi dati per creare un account</span>
    </h1>
  </header>

  @if (successMessage()){
    <div class="alert alert-success">
      {{ successMessage() }}
    </div>
  }

  @if(errorMessage()){
    <div class="alert alert-error">
      {{ errorMessage() }}
    </div>
  }

  <fieldset>
    <tui-textfield>
      <label tuiLabel>Nome</label>
      <input placeholder="Il tuo nome" tuiTextfield formControlName="name" />
    </tui-textfield>
    <tui-textfield>
      <label tuiLabel>Cognome</label>
      <input
        placeholder="Il tuo cognome"
        tuiTextfield
        formControlName="lastName"
      />
    </tui-textfield>
  </fieldset>

  <tui-textfield>
    <label tuiLabel>Email</label>
    <input
      placeholder="La tua email"
      tuiTextfield
      formControlName="email"
      type="text"
    />
    <tui-icon icon="@tui.mail" />
  </tui-textfield>

  <tui-textfield>
    <label tuiLabel>Password</label>
    <input
      placeholder="Scegli una password"
      tuiTextfield
      type="password"
      formControlName="password"
    />
    <tui-icon tuiPassword />
  </tui-textfield>

  <tui-textfield>
    <label tuiLabel>Conferma password</label>
    <input
      placeholder="Conferma la password"
      tuiTextfield
      type="password"
      formControlName="confirmPassword"
    />
    <tui-icon tuiPassword />
  </tui-textfield>

  <footer>
    <button
      appearance="primary"
      tuiButton
      type="submit"
      [disabled]="!form.valid"
    >
      Registrati
    </button>
    <div tuiTitle>
      <button
        iconEnd="@tui.arrow-left"
        tuiLink
        type="button"
        [routerLink]="['/login']"
        [style.text-decoration-line]="'underline'"
        [textContent]="'Possiedi già un account? Vai al login.'"
      ></button>
    </div>
  </footer>
</form>
