<form
  tuiAppearance="floating"
  tuiCardLarge
  tuiForm="l"
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
  [style.max-width.rem]="35"
>
  <header tuiHeader="h3">
    <h1 tuiTitle>
      Registrati
      <span tuiSubtitle>Inserisci i tuoi dati per creare un account</span>
    </h1>
  </header>

  @if (successMessage()){
  <div class="alert alert-success">
    {{ successMessage() }}
  </div>
  } @if(errorMessage()){
  <div class="alert alert-error">
    {{ errorMessage() }}
  </div>
  }

  <fieldset>
    <tui-textfield>
      <label tuiLabel>Nome</label>
      <input placeholder="Il tuo nome" tuiTextfield formControlName="name" />
      @if (f.name.invalid && f.name.touched){
      <div class="error-message">
        @if (f.name.errors?.['required']){
        <span>Il nome è obbligatorio</span>
        } @if (f.name.errors?.['minlength']){
        <span>Il nome deve avere almeno 2 caratteri</span>}
      </div>
      }
    </tui-textfield>
    <tui-textfield>
      <label tuiLabel>Cognome</label>
      <input
        placeholder="Il tuo cognome"
        tuiTextfield
        formControlName="lastName"
      />
    </tui-textfield>
  </fieldset>

  <tui-textfield>
    <label tuiLabel>Email</label>
    <input
      placeholder="La tua email"
      tuiTextfield
      formControlName="email"
      type="text"
    />
    <tui-icon icon="@tui.mail" />
    @if (f.email.invalid && f.email.touched) {
    <div class="error-message">
      @if (f.email.errors?.['required']){
      <span>L'email è obbligatoria</span>
      } @if (f.email.errors?.['email']){
      <span>Inserisci un'email valida</span>
      }
    </div>
    }
  </tui-textfield>

  <tui-textfield>
    <label tuiLabel>Password</label>
    <input
      placeholder="Scegli una password"
      tuiTextfield
      type="password"
      formControlName="password"
    />
    <tui-icon tuiPassword />
    @if (f.password.invalid && f.password.touched) {
    <div class="error-message">
      @if (f.password.errors?.['required']){
      <span>La password è obbligatoria</span>
      } @if (f.password.errors?.['minlength']){
      <span>La password deve avere almeno 8 caratteri</span>
      }
    </div>
    }
  </tui-textfield>

  <tui-textfield>
    <label tuiLabel>Conferma password</label>
    <input
      placeholder="Conferma la password"
      tuiTextfield
      type="password"
      formControlName="confirmPassword"
    />
    <tui-icon tuiPassword />
    @if (form.errors?.['passwordMismatch'] && f.confirmPassword.touched) {
    <div class="error-message">
      <span>Le password non coincidono</span>
    </div>
    }
  </tui-textfield>

  <footer>
    <button
      appearance="primary"
      tuiButton
      type="submit"
      [disabled]="!form.valid"
    >
      @if (!isLoading()){
      <span> Registrati </span>
      } @if (isLoading()){
        <span>Registrazione in corso...</span>
      }
    </button>
    <div tuiTitle>
      <button
        iconEnd="@tui.arrow-left"
        tuiLink
        type="button"
        [routerLink]="['/login']"
        [style.text-decoration-line]="'underline'"
        [textContent]="'Possiedi già un account? Vai al login.'"
      ></button>
    </div>
  </footer>
</form>
